h1 {
    text-align: center;
    color: red;

}

p {
    color: green;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

/* Este é um comentário */

/* Este 
    é
    um
    Comentário
*/   

/* Classes e ids */

.p-texto {
    color: lightgreen;

}

#titulo-app {

    color: purple;
    font-size: 40px;

}

.nome{
    color:orange;
}

.hexa {
    color: #8320c9;

}

.rgba {
    color:rgba(109, 69, 90, 0.8);
}

/* backgrounds */
.div-background{
    background-image: url('img/por-do-sol.jpg');
    height: 300px;
}

.titulo-background {
    text-align: center;
    background-color: #000;
    color: white;

}

.family {
    color: #000;
    font-size: 40px;
    }

.family.sans-serif{
    color: green;
}    

.serif{
    font-family: "times new roman";

}

.sans-serif {
    font-family: arial;

}

.monospace {
    font-family: "Courier New";
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.bold {
    font-weight: bold;
}

.variant {
    font-variant:  small-caps;
}

body {
    margin: 0;
}

.boxmodel {
    width: 200px;
    height: 200px;
    background-color: red;
    /*padding: 20px;*/
    /*padding-top: 30px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;*/
    padding: 30px 20px 5px 10px;
    /* específico agrupado 3 medidas - top, right-left, bottom */
    padding: 30px 20px 5px;
    /* específico agrupado 2 medidas - top -bottom, right - left */
    border: 3px solid blue;
    border-width: 5px 10px 2px 10px;
    /*border-left: 5px dotted blue;
    border-right-style: double;*/
    border-width: 20px 10px;
    border-radius: 15px;
    margin: 50px;
    margin: 5px 10px 10px 7px;
    margin: 20px 10px;
    margin: 100px;
    display: block;
    
}

.paragrafo-box {
    color:#000;
    margin: 0;
}

.div-position {

    width: 500px;
    height:500px;
    background-color: red;
    border-bottom: 2px dotted black;
}

.static {
    position: static;
}

.relative {
    position: relative;
    background-color: blue;
    top: 100px;
    Left: 50px;

}

.absolute {
    position: absolute;
    background-color: purple;
    right: 0;
    top: 0; 
}

.mini-div {
    height: 50px;
    width: 50px;
    top: 50px;
    left: 100px;

}

.fixed {

    position: fixed;
    height: 200px;
    background-color: yellow;
    bottom: 0;
    right: 0;

}



.sticky {
    position: sticky;
    background-color: gray;
    top: 0px;
}

.container {

    padding: 50px;
}


.div-float {
    overflow:auto;
}

.img-float {
    width: 200px;
    height: 200px;
    float: left;
}

.float-right {
    float: right;
}

.p-float {

    color: #000;
    
}

.clear {

    clear: both;
}

div p {
    color: #000;
}

.pixel-1 {
    background-color: red;
    width: 100px;
    height: 100px;
}

.pixel-2 {
    background-color: blue;
    width: 500px;
    height: 50px;
}

.pai-porcentagem {
    height: 500px;
    width: 500px;
    background-color: black;
}


.porcentagem-1 {

    width: 50%;
    height: 50%;
    background-color: yellow;
}

.porcentagem-2 {

    width: 50%;
    height: 50%;
    background-color: black;

}

.pai-em {

    font-size: 50px;

}

.em-1 {
    
    width: 1em;
    height: 1em;
    background-color: purple;


}
















